<div id="multiuploader" style="text-shadow: none;" ng-style="height">
	<div class="plupload_wrapper" style="height: 100%">
		<div class="ui-widget-content plupload_container ui-resizable" ng-class="{'plupload_view_thumbs': viewMode == 'thumbs', 'plupload_view_list': viewMode == 'list'}"  style="height: 100%" id="multiuploader_container">
			<div class="ui-state-default ui-widget-header plupload_header">
				<div class="plupload_header_content">
					<div class="plupload_logo" ng-click="triggerFileInput()"></div>
					<div class="plupload_header_title">Select files</div>
					<div class="plupload_header_text">Add files to the upload queue and
													  click the
													  start button.
					</div>
					<div class="plupload_view_switch ui-buttonset" style="display: block;">
						<input type="radio" id="uploader_view_list" ng-click="viewMode ='list'" name="view_mode_uploader" checked="checked" class="ui-helper-hidden-accessible">
							<label class="plupload_button ui-button ui-widget ui-state-default ui-button-icon-only ui-corner-left" ng-class="{'ui-state-active': viewMode == 'list'}" for="uploader_view_list" data-view="list" role="button" aria-disabled="false" title="List" aria-pressed="false">
								<span class="ui-button-text">List</span>
								<span class="ui-button-icon-secondary ui-icon ui-icon-grip-dotted-horizontal"></span>
							</label>
						<input type="radio" id="uploader_view_thumbs" ng-click="viewMode ='thumbs'" name="view_mode_uploader" class="ui-helper-hidden-accessible">
							<label class="plupload_button ui-button ui-widget ui-state-default ui-button-icon-only ui-corner-right ui-state-active" ng-class="{'ui-state-active': viewMode == 'thumbs'}" for="uploader_view_thumbs" data-view="thumbs" role="button" aria-disabled="false" title="Thumbnails" aria-pressed="true">
								<span class="ui-button-text">Thumbnails</span><span class="ui-button-icon-secondary ui-icon ui-icon-image"></span>
							</label>
					</div>
				</div>
			</div>
			<table class="plupload_filelist plupload_filelist_header ui-widget-header">
				<tbody>
				<tr>
					<td class="plupload_cell plupload_file_name ">Filename</td>
					<td class="plupload_cell plupload_file_status">Status</td>
					<td class="plupload_cell plupload_file_size">Size</td>
					<td class="plupload_cell plupload_file_action">&nbsp;</td>
				</tr>
				</tbody>
			</table>
			<div class="plupload_content plupload_dropbox" id="multiuploader_dropbox">
				<div class="plupload_droptext" nv-file-drop uploader="uploader">Drag files here.</div>
				<ul class="plupload_filelist_content ui-sortable" id="multiuploader_filelist" unselectable="on">
					<li ng-repeat="item in uploader.queue track by $index" class="plupload_delete ui-state-default plupload_file plupload_file_thumb_loaded" style="position: relative;">
						<div ng-if="(item.file.type | split:'/':0)=='image'" class="plupload_file_thumb">
							<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, width: 100, height: 60}" watch-key="{{item.file.name}}"></div>
						</div>
						<div class="plupload_file_name" title="{{ item.file.name }}">
							<span class="plupload_file_namespan">{{ item.file.name }}</span>
						</div>
						<div class="plupload_file_action">
							<div ng-if="item.isReady" class="ui-icon ui-icon-circle-arrow-w" ng-click="item.remove();removeTotalItem(item.file)"></div>
							<div ng-if="item.isSuccess" class="ui-icon ui-icon-circle-check" ng-click="item.remove();removeTempImg(item.file)"></div>
							<div ng-if="!item.isReady && !item.isSuccess" class="ui-icon ui-icon-circle-minus" ng-click="item.remove(); removeTotalItem(item.file)"></div>
						</div>
						<div class="plupload_file_size"> {{ item.file.size/1024|number:2 }}KB
						</div>
						<div class="plupload_file_status">
							<div class="plupload_file_progress ui-widget-header" ng-style="{ 'width': item.progress + '%' }"></div>
							<span class="pluploafd_file_percent"> </span></div>
						<div class="plupload_file_fields"></div>
					</li>

				</ul>
				<div class="plupload_clearer">&nbsp;</div>
			</div>
			<table class="plupload_filelist plupload_filelist_footer ui-widget-header">
				<tbody>
				<tr>
					<td class="plupload_cell plupload_file_name">
						<div class="plupload_buttons" id="multiuploader_buttons">
							<!-- Visible -->
							<a class="plupload_button plupload_add ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" id="multiuploader_browse" role="button" aria-disabled="false" ng-click="triggerFileInput()" style="z-index: 1;">
								<span class="ui-button-icon-primary ui-icon ui-icon-circle-plus"></span>
								<span ng-if="uploader.queue.length <= queueSuccess" class="ui-button-text" for="fileUploadInput">Add Files</span>
								<span ng-if="uploader.queue.length > queueSuccess" class="ui-button-text" for="fileUploadInput">{{uploader.queue.length - queueSuccess}} files queued</span>
							</a>&nbsp;


							<input style="display: none" type="file" nv-file-select="" size="60" ng-model="formInfo.file_name" uploader="uploader" id="file-input" multiple>

							<a class="plupload_button plupload_start ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" ng-class="{'ui-button-disabled ui-state-disabled': showStartbtn == false || uploader.queue.length <= queueSuccess}" id="multiuploader_start" role="button" aria-disabled="false">
								<span class="ui-button-icon-primary ui-icon ui-icon-circle-arrow-e"></span>
								<span class="ui-button-text" ng-click="uploader.uploadAll()">Start Upload</span>
							</a>&nbsp;
							
							<a ng-if="showstatus" class="plupload_button plupload_stop ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" id="multiuploader_stop" role="button" aria-disabled="false">
							<span class="ui-button-icon-primary ui-icon ui-icon-circle-close"></span>
							<span class="ui-button-text" ng-click="uploader.cancelAll()">Stop Upload</span></a>&nbsp;

							<div id="html5_19jg126it18a71tij1v3ljo9853_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 125px; height: 28px; overflow: hidden; z-index: 0;">
								<input id="html5_19jg126it18a71tij1v3ljo9853" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,application/postscript,image/gif,image/png,image/photoshop,image/tiff,image/bmp,image/svg+xml">
							</div>
						</div>
						<div class="plupload_started">
							<div ng-if="showstatus" class="plupload_progress plupload_right">
								<div class="plupload_progress_container ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
									<div class="ui-progressbar-value ui-widget-header ui-corner-left" ng-style="{ 'width': uploader.progress + '%' }"></div>
								</div>
							</div>
							<div ng-if="showstatus" class="plupload_cell plupload_upload_status">Uploaded {{queueSuccess}}/{{uploader.queue.length}}
																			  files
							</div>
							<div class="plupload_clearer">&nbsp;</div>
						</div>
					</td>
					<td class="plupload_file_status vertical_align"><span class="plupload_total_status">{{uploader.progress}}%</span>
					</td>
					<td class="plupload_file_size vertical_align">
						<span class="plupload_total_file_size">{{totalSize_toshow}}</span>
					</td>

					<td class="plupload_file_action"></td>
				</tr>
				</tbody>
			</table>

			<div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
		</div>
		<input class="plupload_count" value="0" type="hidden" id="multiuploader_count" name="multiuploader_count">
	</div>
</div>