<!-- Left Sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{$root.layoutPath}}/sample/img/admin-avatar-grayscale.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Telvin Nguyen</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." ng-model="searchMenu" >
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview" ng-class="{'active': db.left_sidebar.menu == 'lm_dashboard'}" ng-click="db.left_sidebar.menu == 'lm_dashboard'" ng-show="searchMenu | filterMenu:['Dashboard']">
                <a href="{{$root.baseUrl}}/site/index/home">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span></i>
                </a>
            </li>
            <li class="treeview" ng-class="{'active': db.left_sidebar.menu == 'lm_users'}" ng-show="searchMenu | filterMenu:['Users', 'List']">
                <a ng-click="db.left_sidebar.menu ='lm_users'">
                    <i class="fa fa-users"></i>
                    <span>Users</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" ng-class="{'menu-open': db.left_sidebar.menu == 'lm_users'}">
                    <li ng-show="searchMenu | filterMenu:['List']"><a href="{{$root.baseUrl}}/site/index/user"><i class="fa fa-circle-o"></i> List Of Users </a></li>
                    <li ng-show="searchMenu | filterMenu:['Add New User']"><a href="#"><i class="fa fa-circle-o"></i> Add New User </a></li>
                </ul>
            </li>
            <li class="treeview" ng-class="{'active': db.left_sidebar.menu == 'lm_topics'}" ng-show="searchMenu | filterMenu:['Topics', 'List']">
                <a ng-click="db.left_sidebar.menu = 'lm_topics'">
                    <i class="fa fa-book"></i>
                    <span>Topics</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" ng-class="{'menu-open': db.left_sidebar.menu == 'lm_topics'}">
                    <li ng-show="searchMenu | filterMenu:['List']"><a ng-click="db.left_sidebar.sub_menu = 'list_topics'" href="{{$root.baseUrl}}/site/index/topic"><i class="fa fa-circle-o"></i> List of Of Topics</a></li>
                    <li ng-show="searchMenu | filterMenu:['Add New Topic']"><a ng-click="db.left_sidebar.sub_menu = 'add_topic'" href="{{$root.baseUrl}}/site/index/topic"><i class="fa fa-circle-o"></i> Add New Topic </a></li>
                </ul>
            </li>
            <li class="treeview" ng-class="{'active': db.left_sidebar.menu == 'lm_publishings'}" ng-show="searchMenu | filterMenu:['Publishing', 'List']">
                <a ng-click="db.left_sidebar.menu = 'lm_publishings'">
                    <i class="fa fa-newspaper-o"></i>
                    <span>Publishing</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" ng-class="{'menu-open': db.left_sidebar.menu == 'lm_publishings'}">
                    <li ng-show="searchMenu | filterMenu:['List']"><a href="{{$root.baseUrl}}/site/index/publishing"><i class="fa fa-circle-o"></i> List Of Publishings </a></li>
                    <li ng-show="searchMenu | filterMenu:['Add New Publishing']"><a href="#"><i class="fa fa-circle-o"></i> Add New Publishing </a></li>
                </ul>
            </li>
            <li class="treeview" ng-class="{'active': db.left_sidebar.menu == 'lm_tags'}" ng-show="searchMenu | filterMenu:['Tags', 'List']">
                <a ng-click="db.left_sidebar.menu = 'lm_tags'">
                    <i class="fa fa-tags"></i>
                    <span>Tags</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" ng-class="{'menu-open': db.left_sidebar.menu == 'lm_tags'}">
                    <li ng-show="searchMenu | filterMenu:['List']"><a href="{{$root.baseUrl}}/site/index/tag"><i class="fa fa-circle-o"></i> List Of Tags </a></li>
                    <li ng-show="searchMenu | filterMenu:['Add New Tag']"><a href="#"><i class="fa fa-circle-o"></i> Add New Tag </a></li>
                </ul>
            </li>
            <li class="treeview" ng-show="searchMenu | filterMenu:['Settings']">
                <a href="#">
                    <i class="fa fa-gear"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>




