<partial-css list-css="action.css"></partial-css>
<a tpl="default" id="oa-{{action.exec_function}}" class="{{action.cssClass}}" ng-if="action.url_options != ''" ui-sref="{{action.url}}" ui-sref-opts="{{action.url_options}}" title="" action_id="{{action.id}}">
	<span class="btn">{{action.name}}</span>
</a>
<a tpl="default"  id="oa-{{action.exec_function}}" class="{{action.cssClass}}" ng-if="action.url_options == ''" ui-sref="{{action.url}}" title="" action_id="{{action.id}}">
	<span class="btn">{{action.name}}</span>
</a>