<partial-css list-css="action.css"></partial-css>
<a tpl="newtab" id="oa-{{action.exec_function}}" class="{{action.cssClass}}" ng-if="!action.angularLink &&  action.openNewTab == true "  ng-href="{{action.url}}" title="" action_id="{{action.id}}" target="_blank">
	<span class="btn">{{action.name}}</span>
</a>

<a tpl="newtab" id="oa-{{action.exec_function}}" class="{{action.cssClass}}" ng-if="!action.angularLink &&  action.openNewTab == false"  ng-href="{{action.url}}" title="" action_id="{{action.id}}">
	<span class="btn">{{action.name}}</span>
</a>

<a tpl="newtab"id="oa-{{action.exec_function}}" class="{{action.cssClass}}" ng-if="action.angularLink && action.url_options != ''" ui-sref="{{action.url}}" ui-sref-opts="{{action.url_options}}" title="" action_id="{{action.id}}" target="_blank">
	<span class="btn">{{action.name}}</span>
</a>
<a tpl="newtab" id="oa-{{action.exec_function}}" class="{{action.cssClass}}" ng-if="action.angularLink && action.url_options == ''" ui-sref="{{action.url}}" title="" action_id="{{action.id}}" target="_blank">
	<span class="btn">{{action.name}}</span>
</a>