<partial-css list-css="action.css"></partial-css>
<a tpl="ng-click-variant" id="oa-{{action.exec_function}}" class="{{action.cssClass}}" title="" action_id="{{action.id}}" ng-click="{{action.ngClick}}">
	<span class="btn">{{action.name}}</span>
</a>