<div id="container">

    <div id="header">
        <non-user-top-menu></non-user-top-menu>
    </div>
    <!-- /header -->
    <div id="main" holder="loading">
        <div id="content" class="success">


            <form name="forgotForm" method="post">
                <table cellpadding="0" cellspacing="0" class="login_page">
                    <tbody>
                    <tr>
                        <td style="padding-top: 60px;">
                            <p>If you want to retrieve your login information, please enter your registered Email
                                Address and click the Submit button.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <fieldset class="forPlaceholder">
                                <span class="placeholder" ng-show="email==''">Email</span>
                                <input class="inputbox" name="email" type="text"
                                        ng-model="email" validator="required,email" valid-method="submit-only"
                                        required-error-message="Email cannot be blank"
                                        email-error-message="Please enter valid Email." />

                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="required">&nbsp;</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img ng-src="{{layoutPath}}/images/btn_submitbig.png" validation-submit="forgotForm" ng-click="submitEmail()"
                                 style="cursor: pointer" alt="Forgot"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>


            <div class="dvLoading" ng-show="loading"></div>
        </div>
        <!-- content -->
        <!-- /#content -->
        <div id="main_bottom">
            <a href="./" class="logoBot">&nbsp;</a>

            <div class="clr"></div>
        </div>
        <div class="clr"></div>
    </div>
    <!-- /main -->
    <div class="clr"></div>
</div>