<div class="login">
	<div class="logo">
		<img src="{{baseUrl}}/logo.png"/>
	</div>
	<h1>ADMIN PANEL</h1>
	<br>
	<form name="loginForm" method="post">
		<input type="text" name="u" name="username" type="text" ui-keypress="{'enter':'loginClick()'}" ng-keyup="resetError()"
			   ng-model="login_form.username" validator="required" valid-method="submit-only"
			   required-error-message="Username cannot be blank." />
		<input name="password" type="password" ui-keypress="{'enter':'loginClick()'}" ng-keyup="resetError()"
			   ng-model="login_form.password" validator="required" valid-method="submit-only"
			   required-error-message="Password cannot be blank." />

		<div class="checkbox icheck">
				<div class="icheckbox_square-blue" ng-class="{checked: login_form.rememberMe}"
					 ng-model="login_form.rememberMe"
					 ng-click="login_form.rememberMe = !login_form.rememberMe" style="position: relative;">
					<input type="checkbox">
					<ins class="iCheck-helper"></ins>
				</div>
				Remember Me

		</div>


		<div validation-submit="loginForm" class="btn btn-primary btn-block btn-large" ng-click="beLoginClick()">Login</div>
		<span ng-if="login_form.errors!=''"><p class="validation-invalid">{{login_form.errors}}</p></span>
		<a class="forgot-password" ui-sref="forgot-password">I forgot my password</a>
	</form>
</div>
