
.picture-frame-cont .outerBorder {

    background-color: #1e1e1e;
    position: relative;
    margin: 0 auto;
    -webkit-box-shadow: 4px 7px 14px rgba(50, 50, 50, 0.44);
    -moz-box-shadow: 4px 7px 14px rgba(50, 50, 50, 0.44);
    box-shadow: 4px 7px 14px rgba(50, 50, 50, 0.44);
    background: -moz-linear-gradient(-45deg, #000000 0%, #4c4c4c 83%, #000000 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#000000), color-stop(83%,#4c4c4c), color-stop(100%,#000000));
    background: -webkit-linear-gradient(-45deg, #000000 0%,#4c4c4c 83%,#000000 100%);
    background: -o-linear-gradient(-45deg, #000000 0%,#4c4c4c 83%,#000000 100%);
    background: -ms-linear-gradient(-45deg, #000000 0%,#4c4c4c 83%,#000000 100%);
    background: linear-gradient(135deg, #000000 0%,#4c4c4c 83%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}

.picture-frame-cont .innerBorder {
    background:#ccc url(http://aertl.bitweb1.nwtc.edu/php/css/images/matte.png) top left repeat ;
    left: 16px;
    position: absolute;
    top: 16px;
    -webkit-box-shadow: inset 5px 5px 12px rgba(50, 50, 50, 0.44);
    -moz-box-shadow: inset 5px 5px 12px rgba(50, 50, 50, 0.44);
    box-shadow: inset 5px 5px 12px rgba(50, 50, 50, 0.44);
    overflow: hidden;
}
.picture-frame-cont img{
    left: 0px;
    position: relative;
    top: 16px;

}

