<div ui-view="upload-images" ng-show="$state.includes('main.upload-images')"></div>
<div ui-view="upload-iv-image" ng-show="$state.includes('main.upload-iv-image')"></div>
<div ui-view="upload-iv-video" ng-show="$state.includes('main.upload-iv-video')"></div>
<div ui-view="upload-iv-doc" ng-show="$state.includes('main.upload-iv-doc')"></div>
<div ui-view="manage-text-file" ng-show="$state.includes('main.manage-text-file')"></div>
<div ui-view="view-image" ng-show="$state.includes('main.view-image')"></div>
<div ui-view="play-video" ng-show="$state.includes('main.play-video')"></div>
<div ui-view="publink" ng-show="$state.includes('main.publink')"></div>
<div ui-view="upload-iv-music" ng-show="$state.includes('main.upload-iv-music')"></div>
<div ui-view="scrolling-msg" ng-show="$state.includes('main.scrolling-msg')"></div>
<div ui-view="view-scrolling-msg" ng-show="$state.includes('main.view-scrolling-msg')"></div>
<div ui-view="slideshow-play" ng-show="$state.includes('main.slideshow-play')"></div>
<div ui-view="play-audio-message" ng-show="$state.includes('main.play-audio-message')"></div>

<div ui-view="chunk-upload-file" ng-show="$state.includes('main.chunk-upload-file')"></div>

<div ui-view="video-feed" ng-show="$state.includes('main.video-feed')"></div>
<div ui-view="video-feed-host" ng-show="$state.includes('main.video-feed-host')"></div>
<div ui-view="video-feed-guest" ng-show="$state.includes('main.video-feed-guest')"></div>
<div ui-view="video-feed-lobby" ng-show="$state.includes('main.video-feed-lobby')"></div>

<div ui-view="video-feed-form" ng-show="$state.includes('main.video-feed-form')"></div>