.validation-invalid {
	color: #ff0 !important;
	display: block;
	padding-top: 6px
}

.login_page {
	width: 370px;
	margin: 38px auto;
	font-family: 'EurostileExtended-Roman'
}

.login_page td {
	text-align: center
}

.login_page .forPlaceholder {
	position: relative
}

.login_page .forPlaceholder span.placeholder {
	color: #5d6b81;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	position: absolute;
	left: 42%;
	top: 20px
}

.login_page td label {
	font-size: 24px;
	line-height: 38px;
	display: block
}

.login_page td div.remember-me {
	height: 38px;
	line-height: 38px;
	color: #71ccf4;
	padding-bottom: 20px;
	padding-top: 10px;
	display: inline-block
}

.login_page td .divrow .checkboxStyle {
	margin: 2px 5px 0 100px
}

.login_page td .link {
	padding: 35px 0 0 0
}

.login_page td .link a {
	font-size: 20px;
	font-weight: bold;
	color: #71cbf4
}

.login_page td div span {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	float: left
}

input[type=text], input[type=password] {
	color: #000
}
.modal-dialog .modal-header {
	cursor: move
}

.signup-modal-window {
	overflow-y: hidden;
	margin: 0 auto
}

.modal-content {
	border-radius: 10px
}

.signup-modal-window, .modal-dialog {
	width: 425px;
	height: 315px
}

.signup-modal-window a {
	cursor: pointer
}

.modal-dialog .active {
	font-weight: bold
}
.headerPopUp {
	font-weight: bold;
	height: 40px;
	font-size: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif
}