<div id="container">

    <!-- /header -->
    <div id="main" holder="loading">
        <div id="content" class="success">


            <form name="loginForm" method="post">
                <table cellpadding="0" cellspacing="0" class="login_page">
                    <tbody>
                    <tr>
                        <td>
                            <label for="user_name" class="required">Username<span
                                    class="required">*</span></label>
                            <input class="inputbox" name="user_name" type="text" ui-keypress="{'enter':'loginClick()'}" ng-keyup="resetError()"
                                   ng-model="login_form.user_name" validator="required" valid-method="submit-only"
                                   required-error-message="Username cannot be blank." />

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password" class="required">Password<span
                                    class="required">*</span></label>
                            <input class="inputbox" name="password" type="password" ui-keypress="{'enter':'loginClick()'}" ng-keyup="resetError()"
                                   ng-model="login_form.password" validator="required" valid-method="submit-only"
                                   required-error-message="Password cannot be blank." />

                            <span ng-if="login_form.errors!=''"><p class="validation-invalid">{{login_form.errors}}</p></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="remember-me">
                                <div class="checkboxStyle checkbox32 left" ng-class="{checked: login_form.rememberMe}" ng-model="login_form.rememberMe"
                                     ng-click="login_form.rememberMe = !login_form.rememberMe">
                                </div>
                                <span>Remember Me</span>

                                <div class="clr"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div validation-submit="loginForm" ng-click="loginClick()">Login</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="link">
                                <a href="./forgot">Forgot Password?</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>

        </div>
        <!-- content -->
        <!-- /#content -->
        <div class="clr"></div>
    </div>
    <!-- /main -->
    <div class="clr"></div>
</div>