.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


.fade-in-right.ng-enter {
    -webkit-animation-name: fade-in-right;
    animation-name: fade-in-right;
}

@-webkit-keyframes fade-in-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.fade-out-pulse-to-small.ng-leave {
    position: absolute;
    animation: pulse 0.5s ease-in-out;
    -webkit-animation: pulse 0.5s  ease-in-out;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(0.4);opacity: 0.4 }
}
@keyframes pulse {
    0% { transform: scale(1); }
    100% { transform: scale(0.4); opacity: 0.4 }
}



/*** hover button ***/
.anm-btn{
    position: relative;
    display: block;
    margin: 20px auto;
    width: 100%;
    height: 80px;
    max-width: 250px;
    text-transform: uppercase;
    overflow: hidden;
    border: 1px solid currentColor;
}

.anm-btn-5 {
    color: #c06ba3;
}
.anm-btn-5:after {
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent #6d3058 transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
}
.anm-btn-5:before {
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent transparent transparent #6d3058;
    position: absolute;
    bottom: 0;
    left: 0;
}
.anm-btn-5:hover {
    color: #ecd3e4;
}
.anm-btn-5:hover:before, .anm-btn-5:hover:after {
    border-width: 80px 262.5px;
}
.anm-btn-5:active {
    background: #b65193;
}