label{display:initial;margin-bottom:initial;font-weight:initial}.btn{border-radius:inherit}button,input,optgroup,select,textarea{margin:0}:before,:after{-webkit-box-sizing:initial;-moz-box-sizing:initial;box-sizing:initial}