<div id="container">

	<div id="header">
		<auth-user-top-nav></auth-user-top-nav>
	</div>
	<!-- /header -->

	<div id="main" holder="loading">

		<div id="content">
			<div class="content_inner">
				<div class="titleBar bgGreen">
					{{title_bar}}
					<!--<div class="line Gold" style="height:6px;"></div>-->
				</div>
				<div loader working="waiting_loader" template="3"></div>
				<!--<div class="line Gold" style="padding: 0 10px 5px; border-bottom:5px solid #000; ">-->
				<!--&lt;!&ndash;<?php echo $title_bar; ?>&ndash;&gt;-->
				<!--</div>-->
				<form name="Form" xt-form novalidate>
					<div loader working="signupLoader" template="3"></div>
					<div class="content_wrap textShadow">
						<!-- Region B -->
						<div class="w1021_noscroll" style="height: 457px;">
							<div class="inner_title Gold">{{title_bar}}</div>
							<div class="inner_content" style="position: absolute">
								<div id="slider1" class="register_col1"
									style="width: 380px; margin-left: 0px; height: 100%;">
									<div style="height: auto;" class="handle">
										<div class="avatar">
											<div loader working="formLoading" template="3"></div>
											<div class="add" ng-click="triggerIconInput()">
												<img ng-src="{{layoutPath}}/images/btn_add.png" alt=""
													id="upload_image">
											</div>
											<div ng-if="recentFile._file.size>0"
												style="background: rgb(51, 51, 51);"
												ng-show="uploader.isHTML5"
												ng-thumb="{ file: recentFile._file, width:175, height: 175 }"
												watch-key="{{recentFile.random}}" id="showavatar"></div>

											<img id="background_thumb"
												ng-src="{{layoutPath}}/images/img_account_image.png" alt=""
												height="190" width="190">

											<div ng-if="uploader.queue.length > 0"
												style="float: left; color: #fff; margin-top: 20px">
												{{uploader.progress}}%
												<color-process-bar ng-if="uploader.queue.length > 0"
													percent="uploader.progress" bar-width="200" bar-height="5"></color-process-bar>

											</div>
											<input type="file" style="display: none"
												id="upload_icon_input" name="upload_icon_input"
												nv-file-select="" uploader="uploader"
												ng-model="account_info.file_name">
										</div>
										<div class="invation_code_block">
											<table class="form">
												<tbody>
													<tr>
														<td style="padding-bottom: 6px">Account Type:</td>
														<td class="align-left-select"><select
															class="chzn-select" chosen control-key="account_type"
															style="width: 140px" ng-model="account_info.is_public"
															ng-options="key as value for (key,value) in account_type_list">
																<option value=""></option>
														</select></td>
													</tr>
													<tr id="row_public_description"
														ng-show="account_info.is_public==1">
														<td valign="top">Description:</td>
														<td><textarea style="width: 100%; height: 80px;"
																name="public_description" class="description"
																ng-model="account_info.public_description"></textarea></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>

								<div style="overflow: hidden;" class="register_col2"
									id="newScroll">
									<div style="width: 100%; height: 100%;" class="handle"
										ng-class="{'iscroll-wrapper': true}" iscroll>
										<div class="iscroll-scroller">
											<table class="form">
												<tbody>
													<tr>
														<td class="col1" align="right" valign="middle"><label
															for="organization_name"
															field_name="Company / Organization Name">
																Organization Name*</label></td>
														<td class="co2"><input
															style="width: 400px; font-style: normal" class="inputbox"
															name="organization_name" type="text"
															id="organization_name"
															placeholder="Company / Organization Name"
															ng-model="account_info.company" required />
														</td>
													</tr>

													<tr>
														<td class="col1" align="right"><label for="email"
															field_name="Primary Email">Primary Email*</label></td>
														<td class="co2">
															<div class="long">
																<input style="width: 400px; font-style: normal;"
																	class="inputbox" name="email" type="text" id="email"
																	placeholder="Primary contact email"
																	pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"  msg-pattern="is not valid."
																	ng-model="account_info.email" required/>
																	
																	<a noloading="true" ng-click="addEmailField()"
																	style="position: relative; top: 8px"> <img
																	ng-src="{{layoutPath}}/images/btn_add.png" class="add"
																	alt="">
																</a>
															</div>
															<div ng-if="email_list.length>0">
																<div
																	data-ng-repeat="entry in email_list track by $index"
																	class="long margin_5">
																	<input id="email_{{$index}}" name="email_{{$index}}"
																		type="text" ng-model="entry.email"
																		pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"  msg-pattern="Secondary Email {{$index+1}} is invalid."
																		class="inputbox new_text_box_email"> <a
																		ng-click="removeEmailField($index)"
																		class="remove_field" style="text-align: right"> <img
																		ng-src="{{layoutPath}}/images/remove_icon.png"
																		class="minus" alt="" >
																	</a> <br>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td class="col1" align="right"><label
															for="address_type" field_name="Address Type">Address
																Type*</label></td>
														<td class="co2">
															<div class="linktype left align-left-select">
																<select class="chzn-select" style="width: 194px;" chosen
																	control-key="registerStates" name="address_type"
																	id="address_type" data-placeholder="-- Select One --"
																	no-results-text="'The address type not found'"
																	ng-model="account_info.address_type"
																	ng-options="key as value for (key,value) in address_type_list"
																	style="width:200px;" required>
																	<option value=""></option>
																</select>
															</div>

														</td>
													</tr>
													<tr>
														<td class="col1" align="right" valign="middle"><label
															for="address" field_name="Address"> Address*</label></td>
														<td class="col2"><input style="width: 400px"
															class="inputbox" name="address" type="text" id="address"
															ng-model="account_info.address" required />
														</td>
													</tr>
													<tr>
														<td class="col1" align="right" valign="middle"><label
															for="address2"> </label></td>
														<td class="col2"><input style="width: 400px"
															class="inputbox" name="address2" type="text"
															id="address2" ng-model="account_info.address2" />
														</td>
													</tr>
													<tr>
														<td class="col1" align="right"><label for="city"
															field_name="City">City*</label>
														<td class="col2"><input style="width: 400px"
															class="inputbox" name="city" type="text" id="city"
															ng-model="account_info.city" required />
														</td>
													</tr>
													<tr>
														<td class="col1" align="right"><label
															style="line-height: 30px" for="state" field_name="State">State*</label>
														</td>
														<td class="col2" valign="middle">
															<div class="linktype left align-left-select">
																<select class="chzn-select" style="width: 194px;" chosen
																	control-key="registerStates" name="state" id="state"
																	data-placeholder="-- Select One --"
																	no-results-text="'The state not found'"
																	ng-model="account_info.state"
																	ng-options="key as value for (key,value) in state_list"
																	style="width:200px;" required>
																	<option value=""></option>
																</select>
															</div>

															<div style="float: left; margin-left: 15px">
																<label for="zip" field_name="Zip">Zip*</label> <input
																	style="width: 155px" class="inputbox" name="zip"
																	id="zip" ng-model="account_info.zip" value=""
																	type="text" required>
															</div>

														</td>
													</tr>
													<tr>
														<td class="col1" align="right" valign="top"><label
															for="phone_number" field_name="Phone Number"
															style="line-height: 30px">Phone Number*</label></td>
															  
                                                    <td class="col2" valign="middle">
                                                     <div class="linktype left">
                                                          <input style="width:215px;float: left;margin-right: 5px" id="phone_number" name="phone_number" qtip="Require Phone Number format: xxx-xxx-xxxx"
                                                                class="inputbox" pattern="^[0-9]{3}-[0-9]{3}-[0-9]{4}$"
                                                                ng-model="account_info.phone_number"
                                                                type="text" required
                                                                msg-pattern="is not valid. Example: (xxx-xxx-xxxx).">
                                                     </div>

                                                     <div style="float: left; margin-left: 15px">
                                                         <input style="width:160px; margin-right: 5px;" class="inputbox"
                                                                name="comment" id="comment" ng-model="account_info.comment" value=""
                                                                type="text" placeholder="home, mobile, work, etc...">
                                                     </div>
                                                     <a noloading="true" ng-click="addPhoneNumberField()"
                                                         style="position:relative;">
                                                          <img ng-src="{{layoutPath}}/images/btn_add.png"
                                                               class="add" alt="">
                                                     </a>
                                                        
                                                     <div ng-if="phone_number_list.length>0">
                                                         <div data-ng-repeat="entry in phone_number_list track by $index" style="margin-bottom: 10px" class="long margin_5">
                                                           	<div class="linktype left">
                                                             	<input style="width:215px;float: left;margin-right: 5px" id="phone_{{$index}}" name="phone_{{$index}}" ng-model="entry.phone_number" class="inputbox new_text_box_email" type="text" pattern="^[0-9]{3}-[0-9]{3}-[0-9]{4}$" msg-pattern="Secondary Phone {{$index+1}} is not valid">
                                                             </div>
                                                             <div ng-show="entry.phone_number != ''" style="float: left; margin-left: 15px" class='animate-show'>
                                                        		<input style="width:160px; margin-right: 5px;" class="inputbox"
                                                                name="comment_{{$index}}" id="comment_{{$index}}" ng-model="entry.comment" value=""
                                                                type="text" placeholder="home, mobile, work, etc...">
                                                    			 </div>
                                                             <a ng-click="removePhoneNumberField($index)" class="remove_field" style="text-align:right">
                                                                 <img ng-src="{{layoutPath}}/images/remove_icon.png" class="minus" alt="">
                                                             </a>
                                                         </div>
                                                          <br>
                                                     </div>  
                                                 </td>
														
													</tr>
													<tr>
														<td class="col1" align="right" valign="middle"><label
															for="fax_number" field_name="Fax Number"
															style="line-height: 30px">Fax Number</label></td>
														<td class="col2">
															<div class="long">
																<input style="width: 400px" id="fax_number"
																	name="fax_number" class="inputbox"
																	ng-model="account_info.fax_number" type="text" />
															</div>
														</td>
													</tr>
													<tr>
														<td class="col1"></td>
														<td class="col2">
															<div class="long" style="width: 400px;">
																<small style="color: #E0E0E0; font-size: 11px;">We
																	reserve the right to change your Organization Name at
																	any time if there is any naming conflict with other
																	ZwenGlobal accounts.</small>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Region B -->

						<div class="clr"></div>
						<div class="line Gold" style="height: 5px;"></div>
					</div>
					<xt-validation-summary></xt-validation-summary>

					<!-- Region C -->
					<div class="docbar">

						<ul class="topIcon">
							<li><label>Actions:</label> <!--            <a href="#" class="selected"><img src="-->
								<!--/images/purple_setting.png" alt="Add" width="24"></a>-->
								<div style="position: relative; display: block;"
									class="scrollable container-has-scrolling">
									<!--<a ui-sref="customerorder" type="button" class="cancel buttonLink"-->
									<!--data-ajax="false"><span>Cancel</span></a>-->

									<!--<button class="save buttonLink" type="submit" ng-click="Form.$valid && save(Form)">-->
									<!--<span>SAVE</span></button>-->
									<!--&lt;!&ndash;<a noloading="true" id="save_form_detail" ng-click="save()"&ndash;&gt;-->
									<!--&lt;!&ndash;class="save buttonLink" data-ajax="false"><span>Submit</span></a>&ndash;&gt;-->

									<!--<button class="save buttonLink" type="submit" ng-click="Form.$valid && save(Form)">-->
									<!--<span>Use Registered Member Info</span></button>-->
									<button data-ajax="false" type="button" class="jqitbutton"
										ng-click="back()">Cancel</button>
									<button data-ajax="false" type="submit" class="jqitbutton"
										ng-click="Form.$valid && saveChange()">Save</button>
									<button data-ajax="false" type="button" type="button"
										class="jqitbutton" ng-click="use_member_info()">Use
										Registered Member Info</button>
								</div>
								<div class="clr"></div></li>
							<li style="float: none"><label>Info:</label>

								<div class="clr"></div></li>
						</ul>

						<div class="clr"></div>
					</div>
					<!-- Region C -->
					<div class="clr"></div>
				</form>
			</div>
			<!-- /.content_inner -->
		</div>
		<!-- content -->

		<homeboard></homeboard>

		<div class="clr"></div>
	</div>
	<!-- /main -->
	<div class="clr"></div>
</div>