<div id="container">

    <div id="header">
        <non-user-top-menu></non-user-top-menu>
    </div>
    <!-- /header -->


    <div id="main" holder="loading">

        <div id="content">
            <style type="text/css">
                .header {
                    height: 26px;
                }
            </style>

            <div class="content_inner">

                <div class="titleBar bgGreen" style="padding-bottom:8px;">
                    <a href="./" style="margin-left:200px">Page not found</a>
                    <div class="line lineGold" style="width:1021px; height:6px;"></div>
                </div>
                <div class="content_wrap textShadow">


                    <div class="kiosk-message-bg">
                        <div class="inner_content" id="newScroll">

                            <div class="kiosk-message-say">
                                <p class="msg">“{{msg}}”</p>
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>

            <div class="docbar">

                <ul class="topIcon">
                    <li>
                        <label>Actions:</label>

                        <div style="position: relative; display: block;" class="scrollable container-has-scrolling">
                            <a ui-srf="main.content" title="Back"
                               data-ajax="false">
                                <span class="btn">Back</span></a>
                        </div>
                        <div class="clr"></div>
                    </li>
                    <li style="float:none">
                        <label>Info:</label>

                        <div class="clr"></div>
                    </li>
                </ul>

                <div class="clr"></div>
            </div>
        </div>
    </div>
</div>