.small_font {
	display: inline-block;
	text-align: right;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	display: block;
	font-size: 10px;
	line-height: 14px
}

.invation_code_block {
	font-family: Helvetica, Arial, sans-serif;
	margin-left: 90px;
	padding-top: 40px;
	font-size: 14px;
	font-weight: normal
}

.img_text {
	position: absolute;
	left: -2px
}

.inputbox {
	height: 14px;
	text-align: left !important
}

.chosen-single div {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	-ms-border-bottom-right-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #ccc;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc),
		color-stop(0.6, #eee));
	background-image: -moz-linear-gradient(center bottom, #ccc 0, #eee 60%);
	background-image: -o-linear-gradient(bottom, #ccc 0, #eee 60%);
	border-left: 1px solid #aaa;
	display: block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 18px
}

.state.chzn-container .chosen-container div b {
	background-position: 0 10px
}

.chosen-drop {
	color: #444
}

.chosen-container-single .chosen-single {
	height: 24px;
	text-align: center
}

.modal-header {
	display: none
}

.modal-body {
	padding: 15px 15px 0 15px;
	font-weight: bold
}

.term-modal-window div {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold
}

.modal-header {
	display: none
}

.modal-body {
	color: black
}

.align-left-select a span {
	text-align: left !important
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.25s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}