<div class="box-header with-border">
	<h3 class="box-title">Add Topic</h3>
</div>
<!-- /.box-header -->


<form name="Form1" xt-form novalidate>
	<div class="box-body">
		<!-- text input -->
		<div class="form-group">
			<label for="topic_name" field_name="Name">Name</label>
			<input type="text" id="topic_name" name="topic_name" ng-model="form.name" class="form-control" placeholder="Enter ..." required>
		</div>

		<!-- checkbox -->
		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="form.active">
					Active
				</label>
			</div>
		</div>
	</div>

	<xt-validation-summary></xt-validation-summary>

	<div class="box-footer">
		<button type="submit" class="btn btn-default">Cancel</button>
		<button type="submit" class="btn btn-info pull-right" ng-click="Form1.$valid && addTopic()">Save</button>
	</div>


</form>
<!-- /.box-body -->