<div class="wrapper">
	<dashboard-main-header db="masterDashboard" title="Topic"></dashboard-main-header>
	<!-- Left side column. contains the logo and sidebar -->
	<dashboard-main-sidebar db="masterDashboard"></dashboard-main-sidebar>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Topic
			</h1>
			<ol class="breadcrumb">
				<li><a href="{{$root.baseUrl}}/site/index/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
				<li class="active">Topic</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">

			<div class="row">
				<div class="col-xs-4 col-centered fx-fade-down" ng-show="masterDashboard.left_sidebar.sub_menu == 'add_topic'">
					<div class="box box-primary">
						<topic-addform></topic-addform>
					</div>
				</div>

				<div class="col-xs-12">

					<div class="box">
						<div class="box-header">
							<h3 class="box-title">List</h3>

							<div class="box-tools">
								<!--<div class="input-group input-group-sm" style="width: 150px;">
									<input type="text" ng-model="gridSearch" name="table_search" class="form-control pull-right" placeholder="Search">

									<div class="input-group-btn">
										<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
									</div>
								</div>-->
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body table-responsive no-padding">


							<topic-grid data="list_topics" grid-id="topic01" search-model="gridSearch"></topic-grid>

							<!--<table class="table table-hover">
								<tbody><tr>
									<th>ID</th>
									<th>User</th>
									<th>Date</th>
									<th>Status</th>
									<th>Reason</th>
								</tr>
								<tr>
									<td>183</td>
									<td>John Doe</td>
									<td>11-7-2014</td>
									<td><span class="label label-success">Approved</span></td>
									<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
								</tr>
								<tr>
									<td>219</td>
									<td>Alexander Pierce</td>
									<td>11-7-2014</td>
									<td><span class="label label-warning">Pending</span></td>
									<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
								</tr>
								<tr>
									<td>657</td>
									<td>Bob Doe</td>
									<td>11-7-2014</td>
									<td><span class="label label-primary">Approved</span></td>
									<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
								</tr>
								<tr>
									<td>175</td>
									<td>Mike Doe</td>
									<td>11-7-2014</td>
									<td><span class="label label-danger">Denied</span></td>
									<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
								</tr>
								</tbody></table>-->
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<footer class="main-footer">
		<div class="pull-right hidden-xs">
			<!--<b>Version</b> 2.3.3-->
		</div>
		<strong>Copyright &copy; 2014-2015 <a href="http://vidaltek.com">©2016 Vidaltek, Inc</a>.</strong> All rights
		reserved.
	</footer>

</div>
<!-- ./wrapper -->