.validation-valid{display: none;}.error-summary {color: #a94442;background: #fdf7f7;border-left: 3px solid #eed3d7;padding: 10px 20px;margin: 0 0 15px 0;}
.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}

.example-modal .modal {
    background: transparent !important;
}

/* guarantee that the height cannot be smaller than menu height*/
.content-wrapper{
    min-height: 450px !important;
}

.modal-header{
    display: none;
}

.col-centered{
    float: none !important;
    margin: 0 auto;
}