<div class="image--holder" ng-style="size">
    <div class="image--self" style="background-image: url({{icon}})">
        <!-- SVG filter for Firefox -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <filter id="blurLogo">
                <feGaussianBlur stdDeviation="1" />
            </filter>
        </svg>
    </div>
    <div class="image--action">
        <span ng-style="selectAreaStyle">{{text}}</span>
    </div>
</div>
<ng-transclude></ng-transclude>