.image--holder {
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}
.image--holder .image--self {
    width: 100%;
    height: 100%;
    background: #ccc url("https://d13yacurqjgara.cloudfront.net/users/241095/screenshots/1613501/800px.png") no-repeat center center;
    background-size: contain;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    float: left;
}
.image--holder .image--action {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
}
.image--holder .image--action span {
    display: block;
    position: absolute;
    background: rgba(96, 99, 234, 0.4);
    border-radius: 100%;
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: bold;
    opacity: 0;

    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.image--holder:hover .image--self {
    /*
    -webkit-filter: blur(3px);
    filter: blur(3px);

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
    background-size: 240%;
    */

    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.image--holder:hover .image--action span {
    opacity: 1;

    /*
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    */
}
.image--holder:hover .image--action span:active {
    background: #fff;
    color: #000;
}
