<a ng-click="step='kiosk-sign'">Kiosk Sign</a>
<a ng-click="step='print-log'">Print Log</a>


<section>
	<p> Get accounts of member id:</p>
	<label>Member id:</label><input type="text" ng-model="member_id" ng-blur="getData()" />

</section>
<hr>
<kiosk-sign ng-if="step=='kiosk-sign'">
	<section>
		<p>Member:</p>
		<name>id: {{member.id}}</name>
		<name>upload_folder: {{member.upload_folder}}</name>
	</section>
	<section ng-if="acc_id!=''">
		<p>Account:</p>
		<name>id: {{acc.id}}</name>
		<name>upload_folder: {{acc.upload_folder}}</name>
		<br>
	</section>

	<section>
		<p>Kiosk:</p>
		<label>id:</label><input type="text" ng-model="kiosk.id" ng-blur="getData()" />
		<div ng-if="kiosk.id != ''">
			<name>kiosk name: {{kiosk.name}}</name>
			<p>skin id: {{kiosk.skin.id}}</p>
			<p>skin name: {{kiosk.skin.name}}</p>
		</div>
		<br>
	</section>
	<hr>
	<section>
		<p>Sign:</p>
		<label>id:</label><input type="text" ng-model="sign.id" ng-blur="getData()" />
		<br>
	</section>

	<section>
		<pre ng-bind-html="html"></pre>
	</section>

	<button ng-click="getData()" type="button" class="btn btn-default" aria-label="Left Align">
		<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
	</button>
</kiosk-sign>

<print-log ng-if="step=='print-log'">
	<button style="position:fixed; left: 180px" ng-click="refreshLog()">Refresh</button>
	<button style="position:fixed; left: 250px" ng-click="cleanLog()">Clean</button>
	<section>
		<pre ng-bind-html="html2"></pre>
	</section>
</print-log>