<div id="container">

	<div id="header">
		<auth-user-top-nav></auth-user-top-nav>
	</div>
	<!-- /header -->

	<div id="main" holder="loading">

		<div id="content">
			<div class="content_inner">
				<div class="titleBar bgGreen">
					<div class="page-title">Signsmart Content View</div>
					<storage-info si-refresh="{{refreshStorage}}" remote="remote"></storage-info>
					<div class="line lineGold" style="width:1021px; height:6px;"></div>
				</div>

					<div class="content_wrap textShadow">
						<div class="w1021_noscroll">
							<div class="inner_title Gold">Upload Multiple Files</div>

							<div class="inner_content">
								<div class="SearchPanel formSearch" ng-if="!isOnlyimage">

										<table style="float: left">
											<tbody>
											<tr>
												<td style="vertical-align:middle">
													<label class="content-label" for="name" field_name="Name">Name:</label>
													<span class="popup-field-required">*</span> &nbsp;
												</td>
												<td style="vertical-align:middle">
													<input class="popup-detail-input" name="name" id="name" ng-model="formInfo.name" type="text">
												</td>
											</tr>
											</tbody>
										</table>

								</div>
									<!-- upload multi images module -->
								<upload-multiple-files zip-file="files.zipFile" total-item="file.totalItem"></upload-multiple-files>
							</div>
						</div>
						<div class="clr"></div>
					</div>
					<div class="clr"></div>
					<!--<li ng-repeat="item in uploader.queue"> {{ item.file.size/1024|number:2 }}-->
					<!--KB</li>-->
					<div class="docbar" style="width: 100%;">
						<ul class="topIcon">
							<li>
								<label>Actions:</label>
								<button data-ajax="false" type="button" class="jqitbutton" ng-click="done()" ng-if="isOnlyimage">Done</button>
								<button data-ajax="false" type="button" class="jqitbutton" ng-click="save()" ng-if="!isOnlyimage">Save</button>
								<button data-ajax="false" type="button" class="jqitbutton" ng-click="cancel()" ng-if="!isOnlyimage">Cancel</button>
								<div loader working="formLoading" template="3"></div>
								<div class="clr"></div>
							</li>

						</ul>
						<div class="clr"></div>
					</div>

			</div>
		</div>
		<!-- content -->

		<homeboard></homeboard>

		<div class="clr"></div>
	</div>
	<!-- /main -->
	<div class="clr"></div>
</div>