
<div style="display: none;">

	<map id="{{mapId}}" name="{{mapId}}">
		<area id="{{area.imap_id}}" ng-repeat="(key,area) in listArea" regionid='{{area.imap_id}}' {{attr_tip}} shape='{{area.shape}}' alt='{{area.alt}}' title='{{area.alt}}' coords='{{area.coords}}' href='{{area.href}}' target='{{area.target}}'>
	</map>

	<!-- tooltipster target -->
	<div ng-repeat="(key,area1) in listArea" id='{{area1.target_imap_id}}'>{{area1.custom_tip}}</div>

</div>