<div id="wrapper" ng-style="{width: width + 'px', height: height + 'px'}">
	<div id="expandable_handicap"></div>
	<div class="clr"></div>
	<div class="scroll" style="position: relative">
		<kiosk-show-content ng-if="content.ext != ''" content="content" width="{{width}}" height="{{height}}" autoplay="true"></kiosk-show-content>

	</div>
</div>

<div ng-if="homeUrl != '' && homebtn=='On' " pie-menu icon="menuButtons.image" url="{{homeUrl}}" class="pm-menu" make-draggable></div>
<div ng-if="handicapBtnSetting == '' || handicapBtnSetting == 'On'" handicap icon="handicapButton.image"></div>