<style>
	.dim { opacity: {{dim_rate}}; }
</style>
<div>
	<div class="pick-item-info col-sm-2">
		<div class="pick-detail" ng-transclude>
		</div>

		<div class="inner-addon right-addon col-sm-9">
			<i class="glyphicon glyphicon-search"></i>
			<input type="text" ng-model="keyword" placeholder="{{placeHolder}}" ng-blur="searchByKeyword()" ng-keydown="$event.which === 13 && searchByKeyword()" />
		</div>

		<div class="pick-item-sorter col-sm-3">
			<img ng-click="runSorter('name')" style=" margin-left:5px;width:35px;height:35px;" ng-src="{{$root.layoutPath}}/images/remote/sorter_alphabet_btn.png"/>
			<img ng-click="runSorter('created_date')" style="width:35px;height:35px;" ng-src="{{$root.layoutPath}}/images/remote/sorter_date_btn.png"/>
		</div>
	</div>
	<div class="pick-item-list col-sm-10">
		<content-object-variant title="Items" list="itemVariants" box-class="blueWrapIcon" remote="remote" visible-width="{{visibleWidth}}"
		                        page-index="ivPageIndex" page-count="ivPageCount" get-more-func="sender.loadItemVariants" type-color="#57cef6" track-loading="rowLoader"></content-object-variant>
	</div>
</div>