<div class="cntr">
	<div class="cntr-innr">
		<label class="search" for="inpt_search">
			<input name="keywords" ng-model="keyword" type="text" class="keyword_search_box"
				   reg-ex-input reg-ex="^[a-zA-Z0-9-@./\s/g]+$" >
		</label>
		<p>Search Published Sign By Name</p>
	</div>
</div>