<div class="login">
	<div class="logo">
		<img src="{{baseUrl}}/logo.png"/>
	</div>
	<h1>FORGOT PASSWORD</h1>
	<br>
	<p class="caption">If you want to retrieve your login information, please enter your registered Email
		Address and click the Submit button.</p>
	<br>

	<form name="forgotForm" method="post">
		<input type="text" name="email" placeholder="Email" required="required" ng-model="email" validator="required,email" valid-method="submit-only"
			   required-error-message="Email cannot be blank"
			   email-error-message="Please enter valid Email."/>

		<button type="submit" class="btn btn-primary btn-block btn-large" validation-submit="forgotForm" ng-click="beForgotPassClick()">Submit</button>

		<a class="login-link" ui-sref="login">Return to Login</a>
	</form>
</div>
