<div class="grid-item-hover-01-container" ng-style="{{size}}">
	<a href="javascript:;" class="grid-item-hover-link" ng-style="{{size}}">
		<div class="image" style="background: url('{{src}}')"></div>
		<p class="title">{{text}}</p>

		<div class="hover">
			<i class="fa fa-arrow-circle-right"></i>
		</div>

	</a>
</div>