<section class="manage-rules" ng-if="currentScreen.name == 'manage-rules'">
	<div class="header">

		<div class="input-wrap">
			<label>Current Redirections from {{sharedData.sign.name}}</label>
		</div>
	</div>
	<div loader working="mainLoader" template="3"></div>

	<div class="rules-body">
		<div ng-if="sharedData.signRules" class="list-rules">
			<ul>
				<li ng-repeat="rule in sharedData.signRules" class="rule-item-item">
					<a class="rule-item-link">
						<span><i ng-click="removeRule(rule)" class="icono-cross"></i></span>
						<!--<span class="icono"><i class="icono-eye"></i></span>-->
						<h2 ng-bind-html="rule.titleHtml">{{rule.title}}</h2>
						<span>{{rule.name}}</span>

					</a>

					<!--<div class="detail">-->
						<!--<div><span>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</span></div>-->
						<!--<br/>-->

						<!--<span class="button">Connect</span>-->
					<!--</div>-->
				</li>
			</ul>
		</div>
	</div>

	<div class="rdr-controls">
		<button ng-click="switchScreen('set-rule')">Design Rule</button>
	</div>
</section>
<section class="set-rule" ng-if="currentScreen.name == 'set-rule'" style="padding-bottom: 50px">
	<div class="header">

		<div class="input-wrap">
			<i class="fa fa-list"></i>
			<i class="fa fa-pencil-square-o"></i>
			<input style="display: none;" name="foo" type="text" class="editable-label" placeholder="" ng-model="pageTitle"/>
			<label>{{pageTitle}}</label>
		</div>
	</div>

	<div loader working="mainLoader" template="3"></div>
	<div ng-include="currentStep.name" class="step-body animated fade-in-right fade-out-pulse-to-small"></div>

	<div class="rdr-controls">
		<button ng-click="applyAllChange()" ng-show="currentStep.name == 'selectTargetBox'">
			<span><i class="icono-reset spin" ng-show="savingLoader"></i></span>Save
		</button>
		<button ng-click="switchScreen('manage-rules')">Manage Rules</button>
	</div>
</section>

<!------ set-rule inline templates ------>
<script type="text/ng-template" id="selectSourceBox">
	<div class="step-col-1">
		<span>Select one source box in the layout below</span>
		<div style="width: 418px" qtip qtip-options="zoomLevelTip">
			<rzslider rz-slider-model="skinZoom" rz-slider-floor="1" rz-slider-ceil="100"></rzslider>
		</div>
		<div style="margin: 10px 0 0">
			<skin-graphical-layout ng-style="{zoom: skinZoom/100}" ng-if="sharedData.skin.width" layout="sharedData.skin" on-select="sourceBoxOnClick" mode="1"></skin-graphical-layout>
		</div>
	</div>
</script>

<script type="text/ng-template" id="selectTargetSign">
	<div loader working="selectTargetSign_loader" template="3"></div>
	<div class="step-col-1 vertical-align-top">
		<span>Select one source box in the layout below</span>
		<div style="width: 418px" qtip qtip-options="zoomLevelTip">
			<rzslider rz-slider-model="skinZoom" rz-slider-floor="1" rz-slider-ceil="100"></rzslider>
		</div>
		<div style="margin: 10px 0 0" ng-style="{width: sharedData.skin.width * skinZoom/100, height: sharedData.skin.height * skinZoom/100}">
			<skin-graphical-layout ng-style="{zoom: skinZoom/100}" ng-if="sharedData.skin.width" layout="sharedData.skin" on-select="sourceBoxOnClick" mode="1"></skin-graphical-layout>
		</div>
	</div>
	<div class="step-col-2 vertical-align-center">
		<div class="arrow-line">
			<div class="right-arrow"></div>
		</div>
	</div>
	<div class="step-col-3">
		<span>Select one of target signs below</span>
		<div mini-search-box="searchTargetSign_keyword"></div>

		<div class="target-sign">
			<!-- list of Sign items -->
			<div ng-repeat="entry in targetSignLayouts | filter:{sign_name: searchTargetSign_keyword}"
				 hover-select-img="{{entry.icon}}" size="{width: 122, height: 130}" label="{{entry.sign_name}}"
				 class="sign-item" ng-click="targetSignOnClick(entry)">
				<span ng-if="entry.hasRedirect"><i class="active icono-locationArrow"></i></span>
				<span class="hover-label">{{entry.sign_name}}</span>
			</div>
		</div>

		<!-- list of Sign items -->

	</div>
</script>

<script type="text/ng-template" id="selectTargetBox">
	<div class="step-col-1 vertical-align-top">
		<span>Select one source box in the layout below</span>
		<div style="width: 418px" qtip qtip-options="zoomLevelTip">
			<rzslider rz-slider-model="skinZoom" rz-slider-floor="1" rz-slider-ceil="100"></rzslider>
		</div>
		<div style="margin: 10px 0 0" ng-style="{width: sharedData.skin.width * skinZoom/100, height: sharedData.skin.height * skinZoom/100}">
			<skin-graphical-layout ng-style="{zoom: skinZoom/100}" ng-if="sharedData.skin.width" layout="sharedData.skin" on-select="sourceBoxOnClick" mode="1"></skin-graphical-layout>
		</div>
	</div>
	<div class="step-col-2 vertical-align-center">
		<div class="arrow-line">
			<div class="right-arrow"></div>
		</div>
	</div>


	<div class="step-col-3 vertical-align-top">
		<span>Select one or more target boxes in the layout below</span>
		<div style="width: 418px" qtip qtip-options="zoomLevelTip">
			<rzslider rz-slider-model="toSkinZoom" rz-slider-floor="1" rz-slider-ceil="100"></rzslider>
		</div>
		<div style="margin: 10px 0 0">
			<skin-graphical-layout ng-style="{zoom: toSkinZoom/100}" ng-if="sharedData.toSkin.width" layout="sharedData.toSkin" on-select="targetBoxOnClick" mode="2"></skin-graphical-layout>
		</div>
	</div>
</script>

<script type="text/ng-template" id="done">

	<div class="col-md-12 completed_step">
		<div class="success-message" ng-click="startOver()">
			<!--<svg viewBox="0 0 76 76" class="success-message__icon icon-checkmark">-->
			<!--<circle cx="38" cy="38" r="36"/>-->
			<!--<path fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M17.7,40.9l10.9,10.9l28.7-28.7"/>-->
			<!--</svg>-->

			<div class="wrapper">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
  <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
	C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"/>
</svg>


			</div>

			<h1 class="success-message__title">Change Saved</h1>

			<div class="success-message__content">
				<p>You can start over again by clicking on this message.
			</div>
		</div>
	</div>
</script>

<!------ :set-rule inline templates ------>