/*  -- just styling for this mockup  */
body {background-color: #e5e5e5;}
.clearfix {clear:both;min-height:15px;}


body {
    font-family: Arial,Helvetica,sans-serif;
    -webkit-font-smoothing:antialiased;
    font-size:14px;
}


/*** rules body styles ***/

.rules-body{
    padding-bottom: 20px;
}

.list-rules ul {
    padding: 0;
    font-family: Arial, sans serif;
    color: #555;
}

.list-rules ul > li {
    list-style: none;
    border-top: 1px solid #ddd;
    display: block;
    padding: 15px;
    overflow: hidden;
}

.list-rules ul:last-child {
    border-bottom: 1px solid #ddd;
}

.list-rules ul > li:hover {
    background: #efefef;
}

.list-rules .button {
    padding: 8px 12px;
    font-size: 14px;
    background: #ccc;
    display: block;
    width: 200px;
    border-radius: 3px;
    cursor: pointer;
}

.list-rules .rule-item-link {
    display: block;
    text-decoration: none;
    color: #555;
    cursor: pointer;
    position: relative;
}

.rule-item-link .icono-cross{
    position: absolute;
    right: 0px;
    color: red;
    font-weight: bold;
}
.rule-item-item .icono i, .rule-item-item .fa{
    color: #000 !important;
}

.list-rules h2 {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 18px;
}

.list-rules span {
    font-size: 14px;
}

.list-rules .detail {
    margin: 20px 0 0 0;
    display: none;
    line-height: 22px;
}

.list-rules .icono {
    float: left;
    font-weight: bold;
    font-size: 20px;
}

.list-rules .icon {
    height: 50px;
    width: 55px;
    float: left;
    margin: 0 15px 0 0;
}

/*** :rules body styles ***/




/*** step body styles ***/
.step-body{
    padding: 20px;
    display: flex;
    align-items: baseline;
    -webkit-align-items: baseline;
}

.step-body .vertical-align-center{
    align-self: center;
    -webkit-align-self: center;
}

.step-body .vertical-align-top{
    align-self: flex-start;
    -webkit-align-self: flex-start;
}

.step-body .w1021dark2{
    background: none;
}

.header{
    background-color: #2f6073;
    font-size: 15px;
    color: #fff;
}

.input-wrap {
    position: relative;
}
.input-wrap input, .input-wrap label {
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    background: transparent;
    color: #ffffff;
}

.input-wrap label {
    display: inline-block;
}
.input-wrap input:active, .input-wrap input:focus{
    cursor: text;
    color: #333;
    border-color: #dddddd;
    background: #fff;
}

.input-wrap input, .input-wrap label {
    text-align: center;
    font-size: 1em;
    font-family: inherit;
    padding: 1em;
    padding-left: 3em;
    box-sizing: border-box;
    width: 100%;
}

.input-wrap .fa-list {
    display: none;
    position: absolute;
    top: 17px;
    left: 20px;
}

.input-wrap .fa-pencil-square-o {
    display: none;
    position: absolute;
    top: 17px;
    right: 20px;
}

.input-wrap:before {
    position: absolute;
    color: #333;
    z-index: 20;
    left: 1em;
    top: 1.1em;
}

.step-col-1, .step-col-2, .step-col-3{
    float: left;
}

.step-col-1 > span, .step-col-3 > span{
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

.col-arrow{

}

.target-sign .sign-item{
    float: left;
    border: 2px solid #A52A2A;
    border-radius: 5px;
    margin: 0px 0px 10px 7px;
    padding: 4px;

    position: relative;
}

.target-sign .active{
    position: absolute;
    top: 5px;
    border-radius: 100%;
    background-color: #5ab436;
}

.target-sign .hover-label{
    height: 25px;
    display: block;
    background-color: #d4af7d;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    width: 104px;
    overflow: hidden;
    text-align: center;
    word-break: break-word;
}

.step-body div.right-arrow {
    margin: 50% 50px 0px 50px;

    background: green;
    height: 12px;
    position: relative;
    width: 50px;
}
div.right-arrow:before, div.right-arrow:after {
    content: '';
    width: 22px;
    height: 30px;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
    background: green;
    position: absolute;
    top: -24px;
    right: 0;
}
div.right-arrow:after {
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    transform: skew(-30deg);
    top: 6px;
}


/*** Target Signs ***/
.target-sign{
    width: 250px;
    display: inline;
}


/*** DONE step ***/
.success-message {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.success-message__icon {
    max-width: 75px;
}

.success-message__title {
    color: green;
    transform: translateY(25px);
    opacity: 0;
    transition: all 200ms ease;
}
.active .success-message__title {
    transform: translateY(0);
    opacity: 1;
}

.success-message__content {
    color: #000;
    font-weight: bold;
    transform: translateY(25px);
    opacity: 0;
    transition: all 200ms ease;
    transition-delay: 50ms;
}
.active .success-message__content {
    transform: translateY(0);
    opacity: 1;
}

.icon-checkmark circle {
    fill: #3DC480;
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform 200ms cubic-bezier(0.22, 0.96, 0.38, 0.98);
}
.icon-checkmark path {
    transition: stroke-dashoffset 350ms ease;
    transition-delay: 100ms;
}
.active .icon-checkmark circle {
    transform: scale(1);
}

.start-over{
    cursor: pointer;
    text-decoration: none;
}

.completed_step p:after {
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    cursor:text;
}



/*** DONE CHECKMARK ***/
.completed_step .wrapper {
    width: 100px;
    margin: 4em auto 0;
}

.completed_step .checkmark {
    stroke: green;
    stroke-dashoffset: 745.74853515625;
    stroke-dasharray: 745.74853515625;
    -webkit-animation: dash 2s ease-out forwards infinite;
    /*animation: dash 2s ease-out forwards infinite;*/
    animation: dash 2s ease-out forwards;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 745.74853515625;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 745.74853515625;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

/*** :DONE CHECKMARK ***/

/*** BOTTOM BUTTONS ***/
.rdr-controls{
    background-color: #e5e5e5;
    z-index: 100;
    width: 100%;
    min-height: 46px;
    position: fixed;
    padding: 0;
    bottom: 0;
    right: 0;
    float: right;
    border-top: 1px solid;
}

.rdr-controls .icono-reset{
    margin: 0px 10px 0px 0px;
    width: 20px;
    height: 20px;
}

.rdr-controls button{
    background-color: #2f6073;
    color: #FFF;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
    border: 0;
    margin-top: 5px;
}

.rdr-controls animated-save-button{
    float: right;

}