div.grid-item-hover-01-container{
    position: relative;
    margin: 10px;
    display: inline-block;
}

.grid-item-hover-link {
    overflow: hidden;
    box-shadow: 0 0 20px 0 black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.grid-item-hover-link .image {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    /*background: url(http://img15.hostingpics.net/pics/823065fox.jpg);*/
    background: no-repeat center center;
    background-size: cover !important;
    -webkit-transition: background-size 0.2s ease-in;
    transition: background-size 0.2s ease-in;
}

.grid-item-hover-link .title {
    position: absolute;
    z-index: 99;
    bottom: 20px;
    left: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-shadow: 0 0 10px #000;
}

.grid-item-hover-link .hover {
    position: absolute;
    background: rgba(45, 45, 55, 0.5);
    width: 500px;
    height: 500px;
    top: 220px;
    left: 40px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.grid-item-hover-link .hover i {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    position: absolute;
    top: 100px;
    left: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.grid-item-hover-link:hover .image {
    background-size: 290px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}
.grid-item-hover-link:hover .hover {
    top: -135px;
    left: -80px;
}
.grid-item-hover-link:hover .hover i {
    font-size: 90px;
    top: 50%;
    left: 50%;
    -webkit-transform: rotate(-45deg) translateY(-50%) translateX(-50%);
    -ms-transform: rotate(-45deg) translateY(-50%) translateX(-50%);
    transform: rotate(-45deg) translateY(-50%) translateX(-50%);
}
