<div class="picture-frame-cont">
    <div class="outerBorder" ng-style="outerStyle">
        <div class="innerBorder" ng-style="innerStyle">
            <img ng-src="{{src}}" ng-style="ngStyle">
        </div>
    </div>
</div>